<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a *ngIf="name" routerLink="/dashboard" routerLinkActive="active" class="navbar-brand">{{name }}'s Running Log</a>
            <a *ngIf="!name" routerLink="/dashboard" routerLinkActive="active" class="navbar-brand">Your Running Log</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li>
                    <a *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active">Login</a>
                    <a *ngIf="loggedIn" (click)="logout()" style="cursor: pointer">Logout</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
