<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a *ngIf="name" routerLink="/dashboard" routerLinkActive="active" class="navbar-brand">{{name}}'s Running Log</a>
            <a *ngIf="!name" routerLink="/dashboard" routerLinkActive="active" class="navbar-brand">Your Running Log</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">{{name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a *ngIf="loggedIn" routerLink="/edit-user" routerLinkActive="active" style="cursor: pointer"><i class="icon-user"></i> Edit User</a></li>
                        <li><a *ngIf="loggedIn" (click)="logout()" style="cursor: pointer"><i class="icon-logout"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
