<!--<pre>{{ runs | async | json }}</pre>-->
<div class="row">
  <div class="col-lg-8" style="margin-bottom: 25px;">
    <!-- Button trigger modal -->
    <button (click)="openAddRunModal()" class="btn btn-primary">
      Add A run
    </button>
    <app-run-add [displayModal]="displayModal" (updateDisplayModal)="displayModal = $event" (submitForm)="addItem($event)"></app-run-add>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Avg. Pace</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let run of runs | async">
      <td>{{run.date | date:'shortDate'}}</td>
      <td>{{run.distance}}</td>
      <td>{{run.time}}</td>
      <td>{{run.avgPace}}</td>
      <td>
        <a class="clickable" (click)="deleteItem(run.$key)">
          <i class="icon-close"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
