<div class="col-md-4 col-md-offset-4" style="margin-top: 150px">
  <div class="panel panel-default login-register-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Log In</h3>
    </div>
    <div class="panel-body">
      <alert></alert>
      <form #formData='ngForm' (ngSubmit)="loginWithEmail(formData)">
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="yourmail@example.com" [(ngModel)]="email" name="email" type="text" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password" [(ngModel)]="password" name="password" type="password" value="" required>
          </div>
          <button ype="submit" [disabled]="!formData.valid" class="btn btn-lg btn-primary btn-block">Login</button>
        </fieldset>
      </form>
      <span class="line"></span>
        <h4 class="text-center or-text">OR</h4>
      <span class="line"></span>
      <button (click)="loginWithGoogle()" class="btn btn-lg btn-google btn-block"><i class="icon-social-google"></i> Log in with Google</button>
      <hr/>
      <p class="text-center"><a routerLink="/register" routerLinkActive="active">Register</a></p>
    </div>
  </div>
</div>
